body {
    min-width: 800px;
    height: 100%;
    overflow: hidden; /* overflow-y: scroll; */
    margin: 0;
    color: #f0f0f0;
    background-color: #282828;
}

html {
    height: 100%;
}

#map {
    display: block;
    margin: auto;
    width: 85%;
    min-width: 300px;
    height: 100%;
    background-color: #282828;
    position: absolute;
}

#histPanel {
    display: block;
    height: 100%;
    width: 15%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: 0;
}

#hists {
    margin: 1em;
    display: block;
    height: 100%;
    width: 100%;
}

.axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
}

